:root {
  --yellow: #fffbec;
  --green: #376130;
  --pink: #e9aca7;
  --orange: #f3b142;
}

/* section 1 */

.front_image {
  background-color: var(--yellow);
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front_image h1 {
  font-family: "Nunito", sans-serif;
  font-size: 5rem;
  color: var(--green);
  font-weight: 300;
  padding-top: 4%;
}

.blomster_planet {
  padding-top: 2%;
  width: 700px;
  height: auto;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  max-width: 80%;
}

.grid_1-1-1 div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lille_plante {
  width: 50px;
}

.grid_1-1-1 h3 {
  font-size: 3rem;
  color: var(--green);
}

.pil {
  width: 30px;
  padding-bottom: 1%;
}

/* section 2 - App */

.app {
  display: flex;
  padding: 2rem 0;
  max-width: 80%;
  margin: auto;
  align-items: center;
}

.app .vertical_images {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.vertical_images div {
  background-color: var(--green);
  width: 100px;
  height: 100px;
}

.mockup {
  width: 100%;
  max-height: 800px;
}

.info {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--green);
  line-height: 1.5rem;
}

.info ul li {
  padding-bottom: 1rem;
}

/* section 3 */

.section_3 {
  background-color: var(--green);
  display: flex;
  align-items: center;
  padding-right: 10rem;
}

.section_3 .info {
  color: var(--pink);
}

.section_3_image {
  width: 50%;
  height: auto;
}

/* section 4 */

.section_4 {
  padding: 6rem 0;
  background-color: var(--pink);
}

.section_4 .info {
  text-align: center;
  max-width: 60%;
  margin: auto;
  padding: 0;
}

.section_4 a {
  color: var(--pink);
}

.images {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  padding-top: 2rem;
}

.image {
  background-color: var(--section);
  width: 300px;
  height: 400px;
}

.image_container {
  position: relative;
  overflow: hidden;
}

.image {
  transition: transform 0.3s ease-in-out;
}

.image_container:hover .image {
  transform: scale(1.1);
}

.image_container h2 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-top: 1rem;
  z-index: 1;
}
