:root {
  --yellow: #fffbec;
  --green: #376130;
  --pink: #e9aca7;
  --orange: #f3b142;
}

/* section 1 */

.front_image {
  background-color: var(--yellow);
  height: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front_image h1 {
  font-family: "Nunito", sans-serif;
  font-size: 4rem;
  color: var(--green);
  font-weight: 300;
  padding-top: 5%;
}

.blomster_planet {
  padding-top: 3%;
  width: 700px;
  height: auto;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  max-width: 87%;
}

.grid_1-1-1 div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid_1-1-1 p {
  max-width: 80%;
}

.lille_plante {
  width: 50px;
}

.grid_1-1-1 h3 {
  font-size: 3rem;
  color: var(--green);
}

.pil {
  width: 30px;
  padding-bottom: 1%;
}

/* section 2 - App */

.app {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 10fr;
  padding: 2rem 0;
  max-width: 90%;
  margin: auto;
  align-items: center;
}

.mockup_n_apps {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.app .vertical_images {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.vertical_images img {
  width: 90px;
}

.mockup {
  max-width: 350px;
}

.info {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--green);
  line-height: 1.5rem;
}

.info ul li {
  padding-bottom: 1rem;
}

/* section 3 */

.section_3 {
  background-color: var(--green);
  display: flex;
  align-items: center;
  padding-right: 10rem;
}

.section_3 .info {
  color: var(--pink);
}

.section_3_image {
  width: 50%;
  display: block;
  height: auto;
}

/* section 4 */

.section_4 {
  padding: 6rem 0;
  background-color: var(--pink);
}

.section_4 .info {
  text-align: center;
  max-width: 60%;
  margin: auto;
  padding: 0;
}

.section_4 a {
  color: var(--pink);
}

.images {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  padding-top: 2rem;
}

.image {
  background-color: var(--section);
  width: 300px;
  height: 400px;
}

.image_container {
  position: relative;
  overflow: hidden;
}

.image {
  transition: transform 0.3s ease-in-out;
}

.image_container:hover .image {
  transform: scale(1.1);
}

.image_container h2 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-top: 1rem;
  z-index: 1;
}

@media (max-width: 1050px) {
  .info h1 {
    font-size: 2rem;
  }

  /* section 4 */
  .image {
    background-color: var(--section);
    width: 250px;
    height: 350px;
  }
}

@media (max-width: 900px) {
  .front_image h1 {
    padding-top: 10%;
    font-size: 3rem;
  }

  .blomster_planet {
    padding-top: 6%;
    width: 650px;
  }

  .grid_1-1-1 p {
    font-size: 0.9rem;
    max-width: 100%;
  }

  .lille_plante {
    width: 40px;
  }

  .grid_1-1-1 h3 {
    font-size: 2rem;
  }

  .pil {
    width: 25px;
    padding-bottom: 1%;
  }

  /* section 2 - App */

  .app {
    display: block;
  }

  .vertical_images img {
    width: 120px;
  }

  .app .vertical_images {
    justify-content: flex-start;
    padding-top: 9%;
  }

  .mockup {
    max-width: 400px;
  }

  .mockup_n_apps {
    display: flex;
    justify-content: center;
  }

  .info {
    padding-left: 2rem;
  }

  /* section 3 */

  .section_3_image {
    width: 50%;
    display: block;
    height: auto;
  }

  .section_3 {
    display: grid;
    justify-items: center;
    padding-top: 4%;
  }

  .section_3 h1 {
    font-size: 1.5rem;
  }

  .section_3 {
    padding-right: 0rem;
  }

  .section_3 .info {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
  }

  /* section 4 */

  .images {
    display: grid;
    gap: 3rem;
    justify-content: center;
    padding-top: 2rem;
  }
}
