* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #fffbec;
  --green: #376130;
  --pink: #e9aca7;
  --orange: #f3b142;
}
h1 {
  font-size: 3rem;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

p,
a,
li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

body {
  margin-top: 6rem;
}

/* footer */

footer {
  background-color: var(--orange);
  color: var(--green);
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 2rem 4rem;
}

footer ul,
.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
.icons {
  justify-content: end;
}

footer h3 {
  padding-bottom: 1rem;
  grid-column: span 2;
}

footer ul img {
  height: 3rem;
  margin-bottom: 2rem;
}

#supertusch {
  height: 1.5rem;
}

@media (max-width: 900px) {
  footer {
    grid-template-columns: 1fr fr;
    align-items: end;
    padding: 2rem 1rem;
  }

  footer ul,
  .icons {
    display: flex;
    width: 80%;
    gap: 1rem;
  }

  .icons img {
    width: 2.5rem;
  }

  footer ul img {
    height: 2.5rem;
    margin-bottom: 1rem;
  }

  #supertusch {
    height: 1.2rem;
  }
}

/* header */

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--orange);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

header ul {
  display: flex;
  gap: 2rem;
}

header ul li {
  background-color: var(--orange);
  text-align: center;
  padding: 0.5rem 0;
  width: 6rem;
}
header ul li a {
  color: var(--green);
}

.logo {
  height: 2.5rem;
}

/* burgermenu */

@media (min-width: 901px) {
  .mobile {
    display: none;
  }
}
@media (max-width: 900px) {
  header {
    padding: 1rem 2rem;
  }
  body {
    margin-top: 4rem;
  }
}

.hide {
  display: none;
}
.hamburger img {
  width: 2.5rem;
  height: 2.5rem;
}
.hamburger {
  background: none;
  cursor: pointer;
  border: none;
  float: right;
}
.menu {
  position: fixed;
  text-align: center;
  padding-top: 3rem;
  z-index: 1;
  width: 100%;
  height: 91%;
  background-color: var(--orange);
}

.menu ul li a {
  color: var(--green);
  font-size: 1.3rem;
}
.menu ul li {
  padding-bottom: 1.5rem;
}
