* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #fffbec;
  --green: #376130;
  --pink: #e9aca7;
  --orange: #f3b142;
}
h1 {
  font-size: 3rem;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

p,
a,
li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

body {
  margin-top: 100px;
}

/* footer */

footer {
  background-color: var(--orange);
  color: var(--green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

footer ul,
.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 800px;
  gap: 2rem;
}

footer h3 {
  padding-bottom: 1rem;
}

footer ul img {
  height: 3rem;
  margin-bottom: 2rem;
}

#supertusch {
  height: 1.5rem;
}

/* header */

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--orange);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

header ul {
  display: flex;
  gap: 2rem;
}

header ul li {
  background-color: var(--orange);
  text-align: center;
  padding: 0.5rem 0;
  width: 6rem;
}
header ul li a {
  color: var(--green);
}

a:hover {
  color: black;
}

header .Logo {
  width: 100px;
}
